[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false
	autoCRLF = false
	ignorecase = false
[push]
	default = simple
[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	rmb = !git checkout master | git fetch -p | git remote prune origin | git branch --merged | grep -vE '^\\*|master$' | xargs -I % git branch -d %
	take = reset HEAD --
	skip = update-index --skip-worktree
	no-skip = update-index --no-skip-worktree
	assume = update-index --assume-unchanged
	no-assume = update-index --no-assume-unchanged
[diff]
	compactionHeuristic = true
[help]
	autocorrect = 1
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX --pattern='^(added|deleted|modified): '
	show = diff-so-fancy | less --tabs=4 -RFX --pattern='^(added|deleted|modified): '
[user]
	name = zdjjs
	
