[include]
	path = ~/.gitlocal
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	precomposeunicode = true
	quotepath = false
	autoCRLF = false
[push]
	default = simple
[alias]
	graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	rmb = !git fetch -p | git branch --merged | grep -vE '^\\*|master$' | xargs -I % git branch -d %
	take = reset HEAD --
	skip = update-index --skip-worktree
	no-skip = update-index --no-skip-worktree
	assume = update-index --assume-unchanged
	no-assume = update-index --no-assume-unchanged
[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true

